* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  width: 100%;
  height: 100%;
}

/* Nav colors */
/* ------------------------------------------------------- */
/* Content colors */
/* Cards colors */
/* ------------------------------------------------------- */
/* Footer colors */
/* Cart colors */
/* Nav colors */
/* ------------------------------------------------------- */
/* Content colors */
/* Cards colors */
/* ------------------------------------------------------- */
/* Footer colors */
/* Cart colors */
/* Nav */
/*----------------------------------------------*/
/* Container */
/* Footer */
.card__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__add button {
  background: #E6F7FF;
  border: none;
  color: #0B202E;
  padding: .5rem 1rem;
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

.card__add button:hover {
  background: #DBB21F;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #0B202E;
}

@-webkit-keyframes trash {
  0% {
    -webkit-transform: rotate(-5deg) scale(1.1);
            transform: rotate(-5deg) scale(1.1);
  }
  33% {
    -webkit-transform: rotate(5deg) scale(1.1);
            transform: rotate(5deg) scale(1.1);
  }
  66% {
    -webkit-transform: rotate(-5deg) scale(1.1);
            transform: rotate(-5deg) scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes trash {
  0% {
    -webkit-transform: rotate(-5deg) scale(1.1);
            transform: rotate(-5deg) scale(1.1);
  }
  33% {
    -webkit-transform: rotate(5deg) scale(1.1);
            transform: rotate(5deg) scale(1.1);
  }
  66% {
    -webkit-transform: rotate(-5deg) scale(1.1);
            transform: rotate(-5deg) scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.cart__reset {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 2rem 0 0 0;
}

.cart__reset__btn {
  background: #DBB21F;
  border: none;
  color: #0B202E;
  padding: .5rem 1rem;
}

.cart__reset:hover {
  -webkit-animation: trash 400ms ease-in-out both;
          animation: trash 400ms ease-in-out both;
}

.cart__confirm {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 2rem 0 0 0;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.cart__confirm__btn {
  background: #E6F7FF;
  border: none;
  color: #0B202E;
  padding: .5rem 1rem;
}

.cart__confirm:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.order__modal__form--submit {
  margin: 2rem 0 0 0 !important;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  background: #E6F7FF !important;
  border: none !important;
  color: #0B202E !important;
  padding: .5rem 1rem;
}

.order__modal__form--submit:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* Nav colors */
/* ------------------------------------------------------- */
/* Content colors */
/* Cards colors */
/* ------------------------------------------------------- */
/* Footer colors */
/* Cart colors */
/* Nav colors */
/* ------------------------------------------------------- */
/* Content colors */
/* Cards colors */
/* ------------------------------------------------------- */
/* Footer colors */
/* Cart colors */
/* Nav */
/*----------------------------------------------*/
/* Container */
/* Footer */
.end {
  background: #0B202E;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem 0;
  height: 13rem;
}

.end__conditions__title {
  font-size: 1.6rem;
  color: #EDF9FF;
  margin: .5rem 0;
}

.end__conditions__links {
  list-style: none;
}

.end__conditions__links__item {
  font-size: 1.1rem;
  display: block;
  color: #DBB21F;
  padding: .5rem 0;
  text-decoration: none;
  -webkit-transition: color ease-in-out 200ms;
  transition: color ease-in-out 200ms;
}

.end__conditions__links__item:hover {
  color: #E6F7FF;
}

.end__others__title {
  font-size: 1.6rem;
  color: #EDF9FF;
  margin: .5rem 0;
}

.end__others__links {
  list-style: none;
}

.end__others__links__item {
  font-size: 1.1rem;
  display: block;
  color: #DBB21F;
  padding: .5rem 0;
  text-decoration: none;
  -webkit-transition: color ease-in-out 200ms;
  transition: color ease-in-out 200ms;
}

.end__others__links__item:hover {
  color: #E6F7FF;
}

/* Nav colors */
/* ------------------------------------------------------- */
/* Content colors */
/* Cards colors */
/* ------------------------------------------------------- */
/* Footer colors */
/* Cart colors */
/* Nav colors */
/* ------------------------------------------------------- */
/* Content colors */
/* Cards colors */
/* ------------------------------------------------------- */
/* Footer colors */
/* Cart colors */
/* Nav */
/*----------------------------------------------*/
/* Container */
/* Footer */
/* Nav colors */
/* ------------------------------------------------------- */
/* Content colors */
/* Cards colors */
/* ------------------------------------------------------- */
/* Footer colors */
/* Cart colors */
/* Nav colors */
/* ------------------------------------------------------- */
/* Content colors */
/* Cards colors */
/* ------------------------------------------------------- */
/* Footer colors */
/* Cart colors */
/* Nav */
/*----------------------------------------------*/
/* Container */
/* Footer */
.card__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__add button {
  background: #E6F7FF;
  border: none;
  color: #0B202E;
  padding: .5rem 1rem;
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

.card__add button:hover {
  background: #DBB21F;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #0B202E;
}

@keyframes trash {
  0% {
    -webkit-transform: rotate(-5deg) scale(1.1);
            transform: rotate(-5deg) scale(1.1);
  }
  33% {
    -webkit-transform: rotate(5deg) scale(1.1);
            transform: rotate(5deg) scale(1.1);
  }
  66% {
    -webkit-transform: rotate(-5deg) scale(1.1);
            transform: rotate(-5deg) scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.cart__reset {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 2rem 0 0 0;
}

.cart__reset__btn {
  background: #DBB21F;
  border: none;
  color: #0B202E;
  padding: .5rem 1rem;
}

.cart__reset:hover {
  -webkit-animation: trash 400ms ease-in-out both;
          animation: trash 400ms ease-in-out both;
}

.cart__confirm {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 2rem 0 0 0;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.cart__confirm__btn {
  background: #E6F7FF;
  border: none;
  color: #0B202E;
  padding: .5rem 1rem;
}

.cart__confirm:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.order__modal__form--submit {
  margin: 2rem 0 0 0 !important;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  background: #E6F7FF !important;
  border: none !important;
  color: #0B202E !important;
  padding: .5rem 1rem;
}

.order__modal__form--submit:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E6F7FF;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 0;
}

.container__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 0.5rem 0 2rem;
  text-align: center;
}

.card {
  background: #0B202E;
  width: 100%;
  height: 28rem;
  -webkit-box-shadow: #0B202E 10px 10px 20px;
          box-shadow: #0B202E 10px 10px 20px;
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

.card:hover {
  -webkit-box-shadow: #0B202E 10px 10px 13px;
          box-shadow: #0B202E 10px 10px 13px;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.card__banner {
  width: 100%;
  height: 50%;
}

.card__banner__img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.card__content {
  padding: 1rem;
}

.card__content__title {
  color: #E6F7FF;
}

.card__content__price {
  color: #E6F7FF;
}

.card__content__description {
  color: #DBB21F;
}

.product {
  width: 50%;
}

.container__link {
  text-decoration: none;
  width: 35%;
  margin: 0.8rem;
}

/* Nav colors */
/* ------------------------------------------------------- */
/* Content colors */
/* Cards colors */
/* ------------------------------------------------------- */
/* Footer colors */
/* Cart colors */
/* Nav colors */
/* ------------------------------------------------------- */
/* Content colors */
/* Cards colors */
/* ------------------------------------------------------- */
/* Footer colors */
/* Cart colors */
/* Nav */
/*----------------------------------------------*/
/* Container */
/* Footer */
.navigation {
  background: #0B202E;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__logo__link {
  text-decoration: none;
}

.navigation__logo__title {
  color: #E6F7FF;
  margin: 0 0 0 2rem;
  -webkit-transition: color ease-in-out 200ms;
  transition: color ease-in-out 200ms;
}

.navigation__logo__title:hover {
  color: #DBB21F;
}

.navigation__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navigation__links--mobile {
  display: none;
}

.navigation__links__item {
  display: block;
  color: #E6F7FF;
  text-decoration: none;
  padding: 1.9rem;
  -webkit-transition: background ease-in-out 200ms;
  transition: background ease-in-out 200ms;
}

.navigation__links__item:hover {
  background: #DBB21F;
  color: #0B202E;
}

/* Nav colors */
/* ------------------------------------------------------- */
/* Content colors */
/* Cards colors */
/* ------------------------------------------------------- */
/* Footer colors */
/* Cart colors */
/* Nav colors */
/* ------------------------------------------------------- */
/* Content colors */
/* Cards colors */
/* ------------------------------------------------------- */
/* Footer colors */
/* Cart colors */
/* Nav */
/*----------------------------------------------*/
/* Container */
/* Footer */
.container--cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E6F7FF;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 0;
  min-height: 27.2rem;
}

.container__cart {
  background: #0B202E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem;
  width: 90%;
  height: 18.25rem;
}

.container__cart__products {
  width: 100rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
}

.container__cart__products--empty {
  margin: 1rem 0 0;
  text-align: center;
  color: #E6F7FF;
  font-size: 1.2rem;
}

.container__cart__products__link {
  color: #E6F7FF;
}

.container__cart__products::-webkit-scrollbar {
  width: 0.5rem;
}

.container__cart__products::-webkit-scrollbar-track {
  background: black;
}

.container__cart__products::-webkit-scrollbar-thumb {
  background: #0B202E;
  -webkit-box-shadow: black 0 0 0.5rem;
          box-shadow: black 0 0 0.5rem;
}

.container__cart__link {
  text-decoration: none;
}

.container__cart__row {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 7rem;
  margin: 1rem 0 0.5rem 1.5rem;
  width: 90%;
  -webkit-box-shadow: black 0 0 0.5rem;
          box-shadow: black 0 0 0.5rem;
}

.container__cart__order {
  color: #E6F7FF;
  width: 80%;
}

.row__img {
  width: 25%;
  height: 7rem;
}

.row__img__item {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.row__content {
  background: #E6F7FF;
  padding: .5rem;
  width: 75%;
  height: 7rem;
  color: #0B202E;
}

.row__content__id {
  font-size: 0.8rem;
}

.row__content__description {
  margin: .5rem 0;
}

.row__content__description__item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row__content__price {
  font-weight: bold;
  color: #164E70;
}

.order__title {
  margin: .5rem 0;
  text-align: center;
}

.order__total {
  text-align: center;
}

.order__btns {
  text-align: center;
}

.order__modal {
  width: 50%;
  padding: 2rem 1rem;
  background: #0B202E;
  color: #E6F7FF;
  position: relative;
}

.order__modal__close {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  height: 1.5rem;
  width: 2rem;
}

.order__modal__close:hover {
  cursor: pointer;
}

.order__modal__close__item {
  display: block;
  width: 2rem;
  height: 0.1rem;
  background: #E6F7FF;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.order__modal__close__item:nth-child(1) {
  position: relative;
  top: .7rem;
}

.order__modal__close__item:nth-child(2) {
  position: relative;
  top: .6rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.order__modal__title {
  text-align: center;
  margin: 0 0 2rem 0;
}

.order__modal__background {
  width: 100%;
  z-index: 999;
  height: 100%;
  position: absolute;
  background: rgba(230, 247, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order__modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order__modal__form input {
  background: transparent;
  width: 90%;
  border-top: 0;
  border-bottom: solid #E6F7FF 0.1rem;
  margin: .5rem 0;
  border-left: 0;
  border-right: 0;
  font-size: 1.2rem;
  color: #DBB21F;
}

.order__modal__form input:focus {
  border-bottom: solid #DBB21F 0.1rem;
}

.order__modal__form inputrequired:invalid {
  border-bottom: solid red 0.1rem;
}

.order__modal__form input:valid {
  border-bottom: solid greenyellow 0.1rem;
}

.kill {
  visibility: hidden;
}

@-webkit-keyframes popupFade {
  15% {
    -webkit-transform: translateY(7rem);
            transform: translateY(7rem);
  }
  50% {
    -webkit-transform: translateY(7rem);
            transform: translateY(7rem);
  }
  85% {
    -webkit-transform: translateY(7rem);
            transform: translateY(7rem);
  }
  100% {
    -webkit-transform: translateY(-7rem);
            transform: translateY(-7rem);
  }
}

@keyframes popupFade {
  15% {
    -webkit-transform: translateY(7rem);
            transform: translateY(7rem);
  }
  50% {
    -webkit-transform: translateY(7rem);
            transform: translateY(7rem);
  }
  85% {
    -webkit-transform: translateY(7rem);
            transform: translateY(7rem);
  }
  100% {
    -webkit-transform: translateY(-7rem);
            transform: translateY(-7rem);
  }
}

.animate {
  -webkit-animation: popupFade 6000ms ease-in-out both;
          animation: popupFade 6000ms ease-in-out both;
}

.popup {
  background: #DBB21F;
  width: 50%;
  position: absolute;
  top: -7rem;
  z-index: 999;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.popup__content {
  font-size: 1.2rem;
  color: #0B202E;
}

.popup__link {
  font-size: 1.4rem;
  color: #0B202E;
}

.selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 15rem;
  margin: 0 0 .5rem;
}

.select__lenses {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  padding: .6rem 3rem .6rem .6rem;
  background: #DBB21F;
  color: #0B202E;
}

.select__lenses__item {
  background: #DBB21F;
  color: #0B202E;
  border: none;
}

.select__lenses__arrow {
  display: block;
  width: 2.15rem;
  height: 2.15rem;
  background: #bc991b;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.select__lenses__arrow::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: .5rem solid transparent;
  border-right: .5rem solid transparent;
  border-bottom: 0.5rem solid #826912;
  top: .5rem;
  left: .55rem;
}

.select__lenses__arrow::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: .5rem solid transparent;
  border-right: .5rem solid transparent;
  border-top: 0.5rem solid #826912;
  top: 1.2rem;
  left: .55rem;
}

.container--order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E6F7FF;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 0;
  min-height: 27.2rem;
}

.order__infos {
  width: 55%;
  height: 10rem;
  font-size: 1.2rem;
  text-align: center;
}

/* Nav colors */
/* ------------------------------------------------------- */
/* Content colors */
/* Cards colors */
/* ------------------------------------------------------- */
/* Footer colors */
/* Cart colors */
/* Nav */
/*----------------------------------------------*/
/* Container */
/* Footer */
/* Nav colors */
/* ------------------------------------------------------- */
/* Content colors */
/* Cards colors */
/* ------------------------------------------------------- */
/* Footer colors */
/* Cart colors */
/*# sourceMappingURL=main.css.map */