@import "../utils/variables";
@import "../utils/mixins";

.card__add{
    display: flex;
    justify-content: center;
    & button{
        background: $card-btn-bg;
        border: none;
        color: $card-btn-text;
        padding: .5rem 1rem;
        transition: all ease-in-out 200ms;
        &:hover{
            background: $card-text;
            transform: scale(1.05);
            color: $card-btn-text;
        }
    }
}
    