/* Nav colors */
$nav-bg :#0B202E;
$nav-text :#E6F7FF;
$nav-hover : #DBB21F;
$nav-accent : #0B202E;

/* ------------------------------------------------------- */

/* Content colors */

$container-bg : #E6F7FF;
$container-title : #164E70;
$container-text : #0B202E;

/* Cards colors */

$card-bg : #0B202E;
$card-text : #DBB21F;
$card-btn-bg : #E6F7FF;
$card-btn-text : #0B202E;

/* ------------------------------------------------------- */

/* Footer colors */

$footer-bg : #0B202E;
$footer-title : #EDF9FF;
$footer-link: #DBB21F;